/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require font-awesome
 *= require_tree .
 *= require_self
 */


body {
  font-family: "Helvetica" !important;
  background: #F5F8FA !important;
  margin: 10px;
  padding: 70px;
}

.text-area {
  border-radius: 10px;
  margin-bottom: 5px;
  resize: none;
  border: none;
  width: 100%;
  padding: 10px;
 }

.text-area:focus{
  outline: 1px solid #b0daf7;
}

.button {
  float: right;
}

.form {
  padding: 30px;
  background: #F3F9FE;
  height: 150px;
}

.frontpage {
  background: #FFF;
  border: 1px solid #e1e8ed;
  margin: 0 auto;
  width: 45%;
  border-radius: 2px;
}

.time-ago {
  float: right;
  color: #8899a6;
}

.tweets {
  border-bottom: 1px solid #e1e8ed;
  padding: 20px;
  word-wrap: break-word;
}

.tweets:hover {
  background-color: #e1e8ed;
}

.icons {
  color: #8899a6;
  font-size: 16px;
  margin-right: 15px;
}

.margin-right {
  margin-right: 8px;
}

#error_explanation {
  width: auto;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  margin-top: 15px;
}
